.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px dotted;
}



  .row {
    padding-right:0px;
    padding-left:10px;
    background-color: steelblue;
  }

  p {
    padding: 10px;
  }

  h2 {
      text-align: center
  }

  .column{
      padding: 20px
  }

  h1{
      text-align: center
  }